.app-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #f6f6f6;
    font-family: Arial, sans-serif;
    overflow-y: hidden; 
    margin-top: 2%;

  }
  